version: '3.8'
services:
  mysql-test:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: dsp101
      MYSQL_DATABASE: TestDatabase
    ports:
      - "3307:3306"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
